<h1 style="text-align: center;">About <%= title %></h1>
<p>Melansir The Firehouse Project, bootcamp adalah sebuah program pelatihan. <br>Nah, pelatihan ini berisi materi soal teknologi. Sering kali, topik pembahasannya adalah programming. <br>Tujuan akhir dari pelatihan ini adalah mencetak orang-orang yang siap bekerja di bidang IT. Misalnya, menjadi software engineer, developer, dan lain-lain.</p>
<div class="about-images">
    <img src="image2.png" alt="Foto Profil" style="width: 15%;">
</div>
<section class="about">
    <div class="about-info">
        <h2>Tentang Bidang IT</h2>
    </div>
</section>